In [18]:
# from netCDF4 import Dataset as netCDFDataset
# fp = '/cluster/home3/whh/workspace/pinn/dataset_nvme4a/sst/global-analysis-forecast-phy-001-024_1551608429013.nc'
# loaded_file = netCDFDataset(fp, 'r')

import pandas as pd 
results = pd.read_csv('/cluster/nvme4a/whh/dataset/sst/Locs.csv')

In [19]:
results.keys()

Index(['Unnamed: 0', 'lon', 'lat', 'zone'], dtype='object')

In [20]:
results[results.values[:,3]==1]

       Unnamed: 0        lon    lat  zone
0               1 -70.000000  35.00     1
1               2 -69.916664  35.00     1
2               3 -69.833336  35.00     1
3               4 -69.750000  35.00     1
4               5 -69.666664  35.00     1
...           ...        ...    ...   ...
28283       28284 -65.083336  40.25     1
28284       28285 -65.000000  40.25     1
28285       28286 -64.916664  40.25     1
28286       28287 -64.833336  40.25     1
28287       28288 -64.750000  40.25     1

[4096 rows x 4 columns]

In [21]:
data = pd.read_csv('/cluster/nvme4a/whh/dataset/sst/data_zone_time.csv')

In [22]:
print(data.keys())

<bound method NDFrame.keys of     Unnamed: 0        X1        X2        X3        X4        X5        X6  \
0            1  0.319677  0.325206  0.334008  0.339360  0.338925  0.333154
1            2  0.097995 -0.026829  0.066206  0.206067  0.243298  0.231976
2            3  1.128219  1.084215  1.079073  1.066454  1.059700  1.098816
3            4  0.550204  0.492480  0.431943  0.379783  0.345378  0.381170
4            5  0.980516  0.982656  0.966181  0.921177  0.847455  0.830172
5            6  0.605887  0.977960  0.875201  0.745537  0.775292  0.806174
6            7  0.909434  1.066660  1.156881  1.178539  1.182285  1.152804
7            8  1.016366  1.322003  1.487678  1.450583  1.385991  1.398575
8            9  1.110636  1.101034  1.110006  1.097179  1.053446  1.011974
9           10  1.604905  1.570684  1.409503  1.327125  1.248417  1.112920
10          11  1.095377  1.164144  1.226923  1.278423  1.318184  1.336871
11          12  1.992603  2.051828  2.118006  2.163393  2.215877  2.225292
12          13  0.547871  0.434825  0.464143  0.567401  0.659189  0.751485
13          14  0.457356  0.648769  0.825693  0.954088  1.045052  1.100007
14          15 -0.572607 -0.537447 -0.576388 -0.651218 -0.693592 -1.148229
15          16  0.107630 -0.035778 -0.134804  0.067243  0.211389  0.079543
16          17  1.315112  1.335885  1.283812  1.186284  1.119988  1.120349
17          18  1.279474  1.277021  1.288422  1.306947  1.326829  1.356230
18          19  1.833318  1.778258  1.675100  1.550754  1.423046  1.342210

          X7        X8        X9  ...  X18264055  X18264056  X18264057  \
0   0.345865  0.380377  0.382533  ...  -0.317932  -0.546918  -0.534268
1   0.191883  0.207572  0.261556  ...  -3.721684  -3.074199  -3.127584
2   1.117082  1.099176  1.092018  ...  -2.632141  -2.346349  -1.548234
3   0.443472  0.514082  0.560891  ...  -2.388740  -3.374092  -2.634168
4   0.742149  0.723540  0.701608  ...  -0.676637  -0.573138  -0.499837
5   0.909542  0.905832  0.877827  ...   0.186743   0.163395   0.121995
6   1.116013  1.064034  0.978285  ...  -2.004514  -1.792382  -1.691159
7   1.436438  1.468225  1.511994  ...  -1.383180  -1.397482  -1.426514
8   0.976812  0.918256  0.855004  ...  -0.857085  -0.944612  -0.974900
9   1.058196  0.737905  0.516525  ...   0.813816   0.769328   0.654048
10  1.343740  1.238660  1.091736  ...  -0.322905  -0.418720  -0.560173
11  2.236565  2.307849  2.380726  ...  -1.445492  -1.437612  -1.375615
12  0.839716  0.783796  0.779332  ...  -2.175274  -1.965552  -1.747955
13  1.116384  1.157129  1.113531  ...  -1.755904  -1.715716  -1.695242
14 -1.739667 -1.686338 -1.419480  ...   1.776108   1.804400   1.860792
15  0.000762  0.109616  0.718971  ...  -1.169062  -1.198337  -1.206449
16  1.106291  1.099545  1.068913  ...  -0.833001  -0.678525  -0.452285
17  1.387224  1.405215  1.441555  ...  -1.220519  -1.220763  -1.226661
18  1.316470  1.358434  1.519020  ...  -1.133232  -1.109803  -1.137206

    X18264058  X18264059  X18264060  X18264061  X18264062  X18264063  \
0   -0.484879  -0.395192  -0.562336  -0.340527  -0.401905  -0.428592
1   -3.531400  -3.261271  -2.587769  -2.584607  -2.542543  -2.479870
2   -1.155973  -1.171236  -1.578726  -1.857003  -2.949024  -1.953112
3   -1.912694  -4.799584  -7.717516  -8.754979  -9.085143  -9.135509
4   -0.622833  -0.597456  -0.536253  -0.691765  -0.621477  -0.536329
5   -0.007579  -0.165665  -0.547319  -1.357021  -1.749688  -1.493319
6   -1.625704  -1.513492  -1.441267  -1.458360  -1.555430  -1.703861
7   -1.397467  -1.379854  -1.366264  -1.351689  -1.336536  -1.323735
8   -0.944644  -0.924439  -0.894775  -0.902997  -0.904335  -0.899578
9    0.740411   0.760828   0.750818   0.706863   0.706923   0.759747
10  -0.718604  -0.685208  -0.391635  -0.357007  -0.369508  -0.444956
11  -1.424308  -1.574079  -1.735268  -1.734579  -1.524074  -1.221627
12  -1.598320  -1.568349  -1.603223  -1.596580  -1.531652  -1.386077
13  -1.631405  -1.559106  -1.480585  -1.421270  -1.332635  -1.228406
14   1.953303   1.899727   1.935148   1.900288   1.819706   1.751233
15  -1.202739  -1.266579  -1.323797  -1.296502  -1.249401  -1.122594
16  -0.265507  -0.184716  -0.160362  -0.190722  -0.277555  -0.369725
17  -1.208675  -1.156016  -1.130229  -1.132293  -1.168202  -1.220384
18  -1.109406  -1.091728  -1.081690  -1.074436  -1.025887  -0.920469

    X18264064
0   -0.418685
1   -2.725191
2   -1.361676
3  -10.521846
4   -0.491055
5   -1.256822
6   -1.891057
7   -1.313224
8   -0.891698
9    0.707419
10  -0.528000
11  -0.865782
12  -1.262868
13  -1.146979
14   1.716394
15  -0.931114
16  -0.466408
17  -1.259159
18  -0.817097

[19 rows x 18264065 columns]>

In [1]:
import h5py 
data_path = '/cluster/nvme4a/whh/dataset/sst/data_zone_1.h5'

In [2]:
h5_data = h5py.File(data_path, 'r')

In [6]:
data = h5_data['mygroup']['mydataset'][:]

In [11]:
data.shape

(64, 64, 4459)

In [12]:
data_path = '/cluster/nvme4a/whh/dataset/sst/test_array.h5'
test_h5_data = h5py.File(data_path, 'r')
test_data = test_h5_data['mygroup']['mydataset'][:]

In [13]:
test_data.shape

(4, 3, 2)

In [17]:
test_data.transpose(2,1,0)[0]

array([[ 1.,  7., 13., 19.],
       [ 3.,  9., 15., 21.],
       [ 5., 11., 17., 23.]])